.DS_Store
.env
.uv-cache/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
build/
dist/
models/*
data/deam_valence_arousal/*.json
data/maest_embeddings/*.json
data/chroma_embeddings/*.json